@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Amh/Amh-Regular.ttf') format('truetype');
  unicode-range: U+1200-137F;
  font-weight: normal;
}

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Amh/Amh-Bold.ttf') format('truetype');
  unicode-range: U+1200-137F;
  font-weight: bold;
}

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ApplicationDefaultFont';
  src: url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* @font-face {
  font-family: 'ApplicationDefaultFont';
  src: local('BlinkMacSystemFont'), local('Segoe UI'), local('Roboto'),
    local('Oxygen'), local('Ubuntu'), local('Cantarell'), local('Fira Sans'),
    local('Droid Sans'), local('Helvetica Neue');
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'ApplicationDefaultFont';
}

/**
* single podcast css
*/
.wp-block-social-links {
  display: none;
}

.playlist-content .wp-block-image.size-large img {
  display: none;
}

.wp-block-image.size-large {
  border-radius: 1.2rem;
  margin-bottom: 1.5rem;
}
@supports (
  (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
) {
  .bg-blurry {
    border-radius: 8rem;
  }
  .icon-shadow {
    filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, 0.1));
  }
}

.blog h2 {
  @apply text-3xl;
  @apply mb-4;
  @apply mt-6;
  @apply dark:text-gray-100;
  @apply text-gray-800;
}

.blog h3 {
  @apply text-2xl;
  @apply mt-6;
  @apply mb-4;
  @apply dark:text-gray-200;
  @apply text-gray-700;
}

.blog p {
  @apply dark:text-gray-400;
  @apply text-gray-600;
}

.blog code {
  @apply rounded-lg;
  @apply my-3;
  @apply p-2;
  @apply bg-gray-200;
  @apply dark:bg-gray-900;
}

.blog hr {
  @apply mb-4;
  @apply mt-4;
  @apply dark:border-gray-900;
  @apply border-gray-200;
}
.blog a {
  @apply text-blue-600;
  @apply dark:text-blue-700;
}

.blog img {
  @apply my-5;
}

.blog ul {
  @apply list-disc;
}

.blog li {
  @apply my-3;
}
